<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="norsu.ass.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <norsu.ass.Server.Properties.Settings>
            <setting name="AllowAnnonymousUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RequireUserFullname" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserSuggestionDefaultPublic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowUserPrivateSuggestion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserCanDeleteOwnSuggestion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserCanEditOwnSuggestion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OfficeAdminCanDeleteSuggestions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OfficeAdminCanSeeUserFullname" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowAndroidRegistration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReplyDepth" serializeAs="String">
                <value>7</value>
            </setting>
        </norsu.ass.Server.Properties.Settings>
    </userSettings>
</configuration>