<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastMember" version="1.1.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="NIdenticon" version="1.2.1.0" targetFramework="net40" />
  <package id="NORSU.ASS.Data" version="0.2.0-alpha" targetFramework="net40" />
  <package id="protobuf-net" version="2.3.3" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net40" />
</packages>